DB_HOST=localhost
DB_USER=root
DB_PASSWORD=Krishna@2005
DB_NAME=event_management
PORT=5000

# SMTP config for participant invite emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=krishnapriyavr3@gmail.com
SMTP_PASS=lsycxtbjagntvvmo
EMAIL_FROM=krishnapriyavr3@gmail.com
